<h1><%= t ".students" %></h1>

<% @students.each do |st| %>
  <div>
    <%= st.code %>
    | <%= st.name %>
    | <%= st.info %>
    | <%= link_to t(".delete"), st, method: :delete,
      data: { confirm: t(".sure") } %>
  </div>
<% end %>
<%= will_paginate %>
