<h1><%= t ".form" %></h1>
<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
  
  <%= f.label :username %>
  <%= f.text_field :username, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, t(".confirm") %>
  <%= f.password_field :password_confirmation, class: "form-control"  %>

  <%= f.label :image %><br>
  <%= f.file_field :image %>

  <br><%= f.submit t(".save"), class: "btn btn-primary" %>
<% end %>
