<%= form_for :times_exam do |form| %>
  <div class="form-row">
    <%= form.label :times_start, t("schedules.start"),
      class: "my-1 mr-2" %>
    <div class="col">
      <%= form.date_field :times_end, class: "form-control",
        placeholder:"times start" %>
    </div>
    <%= form.label :times_start, t("schedules.end"),
        class: "my-1 mr-2" %>
    <div class="col">
      <%= form.date_field :times_end, class: "form-control",
        placeholder:"times end" %>
    </div>
    <div class="col">
      <%= form.submit t("schedules.create"),class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
