<% provide :id, "body-subject" %>
<% provide :title, t(".title") %>
<%= render "layouts/menu" %>
<section>
  <form action="delete_subject" method="get">
    <h1 id = "name"><%= t ".name" %>
      <section class="links">
        </br>
        
        <%= link_to t(".add"), subjects_new_path, class: "link wipe" %>
      </section>
    </h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>#</th>
            <th><%= t ".subject_code" %></th>
            <th><%= t ".subject_name" %></th>
            <th><%= t ".class_list_of_subject" %></th>
            <th><%= t ".edit" %></th>
            <th><%= t ".delete" %></th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <% @subjects.each_with_index do |subject, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= subject.subject_code %></td>
              <td><%= subject.subject_name %></td>
              <td>
                <%= link_to t(".reckon_link"), subjects_classes_list_path(:id => subject.id), id: "classes_list_of_subject" %>
              </td>
              <td>
                <section class="links">
                  <%= link_to t(".edit_link"), "#", class: "link underline" %>
                </section>
              </td>
              <td>
                <div>
                  <label>
                    <input type="checkbox" class="option-input checkbox" name=""/><%= t ".delete_checkbox" %>
                  </label>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="wrap">
      <button class="button"><%= t ".delete_button" %></button>
    </div>
  </form>
</section>
