<% provide :title, t(".title") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><% t ".title" %></title>
  </head>
  <body>
    <div class="login">
      <h1><%= t ".name" %></h1>

      <%= form_for(:login, url: login_path) do |f| %>
        <%= f.text_field :username, placeholder: t(".username"), required: "required" %>
        <%= f.password_field :password, placeholder: t(".password"), required: "required" %>
        <%= f.submit t(".button"), class: "btn btn-primary btn-block btn-large" %>
      <% end %>
    </div>
  </body>
</html>
