<nav class="menu">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
  <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

  <%= link_to "Học Phần", subject_subject_list_path, class: "menu-item blue"%>
  <%= link_to "Lớp", class_class_list_path, class: "menu-item green"%>
  <%= link_to "Sinh Viên", student_student_list_path, class: "menu-item red"%>
  <%= link_to "Phòng", room_room_list_path, class: "menu-item purple"%>
  <%= link_to "Ngày", date_date_list_path, class: "menu-item orange"%>
  <a href="logout" class="menu-item lightblue"> <i class="fa fa-diamond"></i>Logout</a>
</nav>

